<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
        <title>tableforone</title>
        <style>body {padding-top: 100px;}</style>
    </head>
    <body>
        <nav class='navbar navbar-expand-sm navbar-dark bg-warning fixed-top'>
            <a class='navbar-brand' href='{% url "mealmap:index" %}'>ひとりでレストラン</a>
            <ul class='navbar-nav mr-auto'>
                {% if user.is_authenticated %}
                    <li class='nav-item'>
                        <span class="navbar-text">{{ user }} - </span>
                    </li>
                    <li class='nav-item'>
                        <a href='{% url "logout" %}' class='logout nav-link'>Logout</a>
                    </li>
                {% else %}
                    <li class='nav-item'>
                        <a href='{% url "login" %}' class='login nav-link'>Login</a>
                    </li>
                    <li class="nav-item">
                        <a href='{% url "accounts:signup" %}' class='signup nav-link'> Sign up </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <a class='navbar-brand' href='{% url "mealmap:category_index" %}'>カテゴリー一覧</a>
            </ul> 
        </nav>
        <div class='container'>
            <h1>おひとりさま向けのレストラン</h1>
            <p>一人でも入りやすい、くつろげるお店を共有するアプリケーションです。</p>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>